<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex>
    <mat-card-title>Organisations</mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="All Organisations">
         <div class="content-container p-10">
	          <button mat-fab class="contact-add-btn" (click)="Add()"><mat-icon>person_add</mat-icon></button>
	        <table class="table table-hover">
	          <thead>
	          <tr>
	            <th>Name</th>
	            <th>Desc</th>
	            <th>Active</th>            
	            <th>ModifiedBy</th>
	            <th>ModifiedAt</th>
	            <th>Manage operations</th>
	          </tr>
	          </thead>
	          <tbody>
	          <tr *ngFor="let organisation of organisations">	            
	            <td>{{ organisation.name }}</td>
	            <td>{{ organisation.descriptions}}</td>
	            <td>{{ organisation.isActive? 'Active' : 'DeActivate' }}</td>	            
	            <td>{{ organisation.updatedBy? organisation.updatedBy : organisation.createdBy}}</td>
	            <td>{{ (organisation.updatedAt? organisation.updatedAt : organisation.createdAt) | date: 'short' }}</td>
	            <td>
	              <button mat-icon-button [routerLink]="['/pages/organisations', organisation.id]">
	                <mat-icon>edit</mat-icon>
	              </button>
	              <button mat-icon-button (click)="delete(organisation)">
                <mat-icon>delete</mat-icon>
              </button>
	            </td>
	          </tr>
	          </tbody>
	        </table>
	      </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>