<div class="page-layout">
  <div class="top-bg"></div>

  <div class="wrapper">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">header</div>
    <div class="card">
      <div class="toolbar" fxLayout="row" fxLayoutAlign="start center"></div>
      <div class="content">
        <h2>Technical Weekly</h2>
        Industry News<br>
        <p>Angular 5.1 & More Now Available</p>
        <p>Angular released version 5.1, along with Angular CLI 1.6 release and the first stable version of Angular Material. The CLI supports Service Worker and brings better support for AppShell
        </p>
        <p>Ant Design 3.0 Driving to
        </p>
        <p>Ant Design Is a back-office design system in the enterprise dedicated to enhancing the experience of "users" and "designers" and enhancing the efficiency of "developer" development.
        </p>
        <p>Front-end development
        </p>
        <p>A Pinterest Progressive Web App Performance Case Study
        </p>
        <p>Pinterest new mobile site made into a PWA. This article shares the promise of better performance on mobile devices by reducing the size of JavaScript packages and using Service Workers.
        </p>
        <p>JavaScript Summary of small knowledge of performance optimization
        </p>
        <p>Article summary JavaScript Code optimized for performance, variable-based declarations, timer usage, DOM manipulation, circular optimization, and more. If the reconstruction of a project code, the optimization of these codes can not be ignored, but it is a continuous process.
        </p>React Performance Fixes on Airbnb Listing Pages
       Airbnb's practice of tuning the performance of React in Listing Page details several examples of repairs, such as performance issues caused by server-side rendering of unwanted content before client-side renderings, improved component rendering efficiency with flame diagrams, and avoidance of unnecessary Component rendering and more
        How to choose from performance for, map and forEach?
        This is a very good question, we often use the loop in programming, but there are many ways to cycle, what kind of reasons should we choose to fit it? Questions and answers on this question can give us some ideas.
        Do not mention this again after reading this article
        This article explains what this value represents in each scenario, explains the impact of call, apply, bind, arrow function on this
        JavaScript machine learning guide
        I heard that you write code in JavaScript? This article is your machine learning guide from Robin Wieruch in Germany for a series of tutorials on building machine learning using JavaScript.
        PWA's Workbox Caching Strategy Analysis
        This article mainly through the workbox (based on 1.x and 2.x version, the future 3.x version will have a new structure) to generate Service-Worker caching strategy, workbox GoogleChrome team original sw-precache and sw-toolbox package , And provides Webpack and Gulp plug-ins to facilitate developers to quickly generate sw.js file.
        React Fiber
        React 16 version includes a Portal, abnormal boundaries and other new features, the most important thing is to rewrite the harmonic algorithm - Fiber, introduced a new mixer - Fiber Reconciler,
        To manage the update of component instances, render tasks, and contact with other fiber instances. This blogger through their own learning simply about the Fiber architecture and source code can help us to understand it well.
        [译] JavaScript time consumption
        The illustrated text illustrates the time consuming JavaScript code execution and understands where it is consumed in order to better optimize the project and speed up the interactive response of the page.
        How to Organize React Files Before It's Messed Up
        As the project grows, how to organize React documents in the project, the article provides some programs and best practices
        Technology aspect
        The Best Request Is No Request, Revisited
        When the HTTP / 2.0 support is becoming more and more popular, "the best request is no request" is still applicable today?
        How the API works
        Use a humorous metaphor to explain what APIs are.
        Practical recommendation
        Lint the Web Forward With Sonarwhal
        Sonarwhal An open source web site inspection tool developed by the Microsoft Edge team that includes online sites and command line tools. Check accessibility, maneuverability, security, performance, and PWA for best practices.
        Program life
        How to use human approach to Code Review (b)
        How to communicate well on Code review and avoid getting trapped in some potential pitfalls. Here, I will focus on introducing some tips for your Code review
        Can be successfully completed to avoid bump. So here's a few words to summarize: A good code reviewer, not only need to find the code bug, but also need to provide serious and responsible feedback to make the team partners get the ability to enhance.
      </div>
    </div>
  </div>
</div>
