<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="Angular Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{REQUEST_URI}" pattern="/api(.*)$" negate="true" />
               </conditions>
               <action type="Rewrite" url="index.html" />
            </rule>
            <rule name="Reverse Proxy to api" stopProcessing="true">
               <match url="^api/(.*)" />
               <action type="Rewrite" url="http://http://192.168.1.102:3000/api/{R:1}" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>